ALTER TABLE ai_insight CHANGE type type VARCHAR(30) NOT NULL, CHANGE action_suggested action_suggested LONGTEXT DEFAULT NULL, CHANGE confidence confidence DOUBLE PRECISION DEFAULT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL;
ALTER TABLE ai_insight ADD CONSTRAINT FK_C2311D08A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX idx_insight_user ON ai_insight;
CREATE INDEX IDX_C2311D08A76ED395 ON ai_insight (user_id);
ALTER TABLE ai_message DROP FOREIGN KEY FK_msg_conv;
ALTER TABLE ai_message DROP FOREIGN KEY FK_msg_conv;
ALTER TABLE ai_message CHANGE role role VARCHAR(10) NOT NULL, CHANGE message_type message_type VARCHAR(30) NOT NULL, CHANGE quick_replies quick_replies LONGTEXT DEFAULT NULL, CHANGE emotion_detected emotion_detected VARCHAR(30) DEFAULT NULL, CHANGE data_collected data_collected LONGTEXT DEFAULT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL;
ALTER TABLE ai_message ADD CONSTRAINT FK_8AB83EAC9AC0396 FOREIGN KEY (conversation_id) REFERENCES ai_conversation (id);
DROP INDEX idx_msg_conv ON ai_message;
CREATE INDEX IDX_8AB83EAC9AC0396 ON ai_message (conversation_id);
ALTER TABLE ai_message ADD CONSTRAINT FK_msg_conv FOREIGN KEY (conversation_id) REFERENCES ai_conversation (id) ON DELETE CASCADE;
ALTER TABLE ai_user_profile DROP FOREIGN KEY FK_profile_user;
ALTER TABLE ai_user_profile DROP FOREIGN KEY FK_profile_user;
ALTER TABLE ai_user_profile ADD life_values LONGTEXT DEFAULT NULL, DROP `values`, CHANGE wake_up_time wake_up_time VARCHAR(10) DEFAULT NULL, CHANGE sleep_time sleep_time VARCHAR(10) DEFAULT NULL, CHANGE work_schedule work_schedule VARCHAR(50) DEFAULT NULL, CHANGE exercise_frequency exercise_frequency VARCHAR(30) DEFAULT NULL, CHANGE stress_triggers stress_triggers LONGTEXT DEFAULT NULL, CHANGE motivation_drivers motivation_drivers LONGTEXT DEFAULT NULL, CHANGE top_challenges top_challenges LONGTEXT DEFAULT NULL, CHANGE achievements achievements LONGTEXT DEFAULT NULL, CHANGE current_mood_avg current_mood_avg DOUBLE PRECISION DEFAULT NULL, CHANGE streak_days streak_days INT NOT NULL, CHANGE total_xp total_xp INT NOT NULL, CHANGE level level INT NOT NULL, CHANGE badges_json badges_json LONGTEXT DEFAULT NULL, CHANGE onboarding_complete onboarding_complete TINYINT(1) NOT NULL;
ALTER TABLE ai_user_profile ADD CONSTRAINT FK_82E87DABA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX uq_profile_user ON ai_user_profile;
CREATE UNIQUE INDEX UNIQ_82E87DABA76ED395 ON ai_user_profile (user_id);
ALTER TABLE ai_user_profile ADD CONSTRAINT FK_profile_user FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
