ALTER TABLE ai_conversation CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE ai_conversation ADD CONSTRAINT FK_D13CEF47A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
CREATE UNIQUE INDEX UNIQ_D13CEF47844A19ED ON ai_conversation (session_token);
CREATE INDEX IDX_D13CEF47A76ED395 ON ai_conversation (user_id);
ALTER TABLE ai_insight CHANGE id id INT AUTO_INCREMENT NOT NULL, CHANGE action_suggested action_suggested LONGTEXT DEFAULT NULL, CHANGE confidence confidence DOUBLE PRECISION DEFAULT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE ai_insight ADD CONSTRAINT FK_C2311D08A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
CREATE INDEX IDX_C2311D08A76ED395 ON ai_insight (user_id);
ALTER TABLE ai_message CHANGE id id INT AUTO_INCREMENT NOT NULL, CHANGE message_type message_type VARCHAR(30) NOT NULL, CHANGE quick_replies quick_replies LONGTEXT DEFAULT NULL, CHANGE data_collected data_collected LONGTEXT DEFAULT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE ai_message ADD CONSTRAINT FK_8AB83EAC9AC0396 FOREIGN KEY (conversation_id) REFERENCES ai_conversation (id);
CREATE INDEX IDX_8AB83EAC9AC0396 ON ai_message (conversation_id);
ALTER TABLE ai_user_profile DROP life_values, CHANGE id id INT AUTO_INCREMENT NOT NULL, CHANGE stress_triggers stress_triggers LONGTEXT DEFAULT NULL, CHANGE motivation_drivers motivation_drivers LONGTEXT DEFAULT NULL, CHANGE top_challenges top_challenges LONGTEXT DEFAULT NULL, CHANGE achievements achievements LONGTEXT DEFAULT NULL, CHANGE personal_values personal_values LONGTEXT DEFAULT NULL, CHANGE current_mood_avg current_mood_avg DOUBLE PRECISION DEFAULT NULL, CHANGE streak_days streak_days INT NOT NULL, CHANGE total_xp total_xp INT NOT NULL, CHANGE level level INT NOT NULL, CHANGE badges_json badges_json LONGTEXT DEFAULT NULL, CHANGE onboarding_complete onboarding_complete TINYINT(1) NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE ai_user_profile ADD CONSTRAINT FK_82E87DABA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
CREATE UNIQUE INDEX UNIQ_82E87DABA76ED395 ON ai_user_profile (user_id);
ALTER TABLE app_settings ADD cle VARCHAR(100) NOT NULL, ADD valeur LONGTEXT NOT NULL, ADD description LONGTEXT DEFAULT NULL, DROP sms_enabled, DROP phone_number, CHANGE id id INT AUTO_INCREMENT NOT NULL;
CREATE UNIQUE INDEX UNIQ_EDC5C06841401D17 ON app_settings (cle);
ALTER TABLE challenge_chat ADD CONSTRAINT FK_6C32F52C98A21AC6 FOREIGN KEY (challenge_id) REFERENCES challenge (id);
ALTER TABLE challenge_chat ADD CONSTRAINT FK_6C32F52CA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE challenge_participation CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE challenge_participation ADD CONSTRAINT FK_223360DCA76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE challenge_participation ADD CONSTRAINT FK_223360DC98A21AC6 FOREIGN KEY (challenge_id) REFERENCES challenge (id) ON DELETE CASCADE;
CREATE INDEX IDX_223360DCA76ED395 ON challenge_participation (user_id);
CREATE INDEX IDX_223360DC98A21AC6 ON challenge_participation (challenge_id);
ALTER TABLE challenge_recompense ADD CONSTRAINT FK_7E8BD9D798A21AC6 FOREIGN KEY (challenge_id) REFERENCES challenge (id);
ALTER TABLE challenge_recompense ADD CONSTRAINT FK_7E8BD9D74D714096 FOREIGN KEY (recompense_id) REFERENCES recompense (id);
ALTER TABLE challenge_task CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE challenge_task ADD CONSTRAINT FK_5BD1DCA398A21AC6 FOREIGN KEY (challenge_id) REFERENCES challenge (id) ON DELETE CASCADE;
CREATE INDEX IDX_5BD1DCA398A21AC6 ON challenge_task (challenge_id);
ALTER TABLE coach_motivation ADD CONSTRAINT FK_8E9D041E3C105691 FOREIGN KEY (coach_id) REFERENCES user (id);
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BC4B89032C FOREIGN KEY (post_id) REFERENCES post (id);
ALTER TABLE commentaire ADD CONSTRAINT FK_67F068BCA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE daily_checkin ADD CONSTRAINT FK_3E82CD65A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE SET NULL;
DROP INDEX fk_3e82cd65a76ed395 ON daily_checkin;
CREATE INDEX IDX_3E82CD65A76ED395 ON daily_checkin (user_id);
ALTER TABLE habit_completions ADD CONSTRAINT FK_F0AE56A4B80619B9 FOREIGN KEY (habitude_id) REFERENCES habitude (id);
ALTER TABLE habit_completions ADD CONSTRAINT FK_F0AE56A4A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE habit_streaks ADD CONSTRAINT FK_28B91E24B80619B9 FOREIGN KEY (habitude_id) REFERENCES habitude (id);
ALTER TABLE habit_streaks ADD CONSTRAINT FK_28B91E24A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE habitude ADD CONSTRAINT FK_10DD3E5FA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX idx_8a9c4a5ca76ed395 ON habitude;
CREATE INDEX IDX_10DD3E5FA76ED395 ON habitude (user_id);
ALTER TABLE mental_entries ADD CONSTRAINT FK_CE38E1B0A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE mental_entry CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE mental_entry ADD CONSTRAINT FK_CE466112B889D33E FOREIGN KEY (mood_id) REFERENCES mood (id);
CREATE INDEX IDX_CE466112B889D33E ON mental_entry (mood_id);
ALTER TABLE mental_tip CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
ALTER TABLE mental_tip ADD CONSTRAINT FK_B7E75DF5B889D33E FOREIGN KEY (mood_id) REFERENCES mood (id) ON DELETE CASCADE;
CREATE INDEX IDX_B7E75DF5B889D33E ON mental_tip (mood_id);
ALTER TABLE mental_tips ADD CONSTRAINT FK_D66E2EC5BCF5E72D FOREIGN KEY (categorie_id) REFERENCES categorie (id);
ALTER TABLE mood CHANGE id id INT AUTO_INCREMENT NOT NULL, ADD PRIMARY KEY (id);
CREATE UNIQUE INDEX UNIQ_339AEF66951480A ON mood (mood_name);
ALTER TABLE moods ADD CONSTRAINT FK_4FD3A18CA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE notification_log ADD CONSTRAINT FK_ED15DF2A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE post ADD CONSTRAINT FK_5A8A6C8DA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE post ADD CONSTRAINT FK_5A8A6C8DBCF5E72D FOREIGN KEY (categorie_id) REFERENCES categorie (id);
ALTER TABLE post_like ADD CONSTRAINT FK_653627B84B89032C FOREIGN KEY (post_id) REFERENCES post (id) ON DELETE CASCADE;
ALTER TABLE post_like ADD CONSTRAINT FK_653627B8A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
CREATE INDEX IDX_653627B84B89032C ON post_like (post_id);
DROP INDEX fk_pl_user ON post_like;
CREATE INDEX IDX_653627B8A76ED395 ON post_like (user_id);
ALTER TABLE post_share ADD CONSTRAINT FK_781D11B54B89032C FOREIGN KEY (post_id) REFERENCES post (id) ON DELETE CASCADE;
ALTER TABLE post_share ADD CONSTRAINT FK_781D11B5A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE program_exercise ADD CONSTRAINT FK_2FEF29293EB8070A FOREIGN KEY (program_id) REFERENCES program (id) ON DELETE CASCADE;
ALTER TABLE program_exercise ADD CONSTRAINT FK_2FEF2929E934951A FOREIGN KEY (exercise_id) REFERENCES exercise (id) ON DELETE CASCADE;
ALTER TABLE program_assignment ADD CONSTRAINT FK_26FFB90E3EB8070A FOREIGN KEY (program_id) REFERENCES program (id) ON DELETE CASCADE;
ALTER TABLE program_assignment ADD CONSTRAINT FK_26FFB90EA76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE reclamation ADD CONSTRAINT FK_CE606404A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE reclamation_event ADD CONSTRAINT FK_E6A239E92D6BA2D9 FOREIGN KEY (reclamation_id) REFERENCES reclamation (id);
ALTER TABLE reclamation_event ADD CONSTRAINT FK_E6A239E9A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE team ADD CONSTRAINT FK_C4E0A61FB03A8386 FOREIGN KEY (created_by_id) REFERENCES user (id);
ALTER TABLE team_member ADD CONSTRAINT FK_6FFBDA1296CD8AE FOREIGN KEY (team_id) REFERENCES team (id);
ALTER TABLE team_member ADD CONSTRAINT FK_6FFBDA1A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX UNIQ_8D93D6496B7BA4B6 ON user;
ALTER TABLE user DROP password_reset_token, DROP password_reset_requested_at, DROP cv;
ALTER TABLE user_challenge_task ADD CONSTRAINT FK_305403FA8DB60186 FOREIGN KEY (task_id) REFERENCES challenge_task (id) ON DELETE CASCADE;
ALTER TABLE user_recompense ADD CONSTRAINT FK_B9FC0632A76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE user_recompense ADD CONSTRAINT FK_B9FC06324D714096 FOREIGN KEY (recompense_id) REFERENCES recompense (id) ON DELETE CASCADE;
ALTER TABLE user_recompense ADD CONSTRAINT FK_B9FC06324E48C67E FOREIGN KEY (source_challenge_id) REFERENCES challenge (id) ON DELETE SET NULL;
ALTER TABLE workout_plan ADD CONSTRAINT FK_A5D45801A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE workout_plan ADD CONSTRAINT FK_A5D45801A6CCCFC9 FOREIGN KEY (workout_id) REFERENCES workout (id);
ALTER TABLE workout_progress ADD CONSTRAINT FK_FA701FF0A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE workout_progress ADD CONSTRAINT FK_FA701FF0A6CCCFC9 FOREIGN KEY (workout_id) REFERENCES workout (id);
